._42ft{cursor:pointer;display:inline-block;text-decoration:none;white-space:nowrap}._42ft:hover{text-decoration:none}._42ft+._42ft{margin-left:4px}._42fr,._42fs{cursor:default}._afhc{clip:rect(1px,1px,1px,1px);height:1px;overflow:hidden;position:absolute;white-space:nowrap;width:1px}

._2agf{word-wrap:normal}._2agf._4o_4{display:inline-flex}._55pe{display:inline-block;overflow:hidden;text-overflow:ellipsis;vertical-align:top;white-space:nowrap}

._4-do{text-align:center}._4-dp{font-size:24px;line-height:28px;margin:40px 0 20px}._4-dq{font-size:16px;line-height:28px;margin:20px 0}._4-dr{font-size:12px;line-height:20px}

.fixed_elem,.fixed_always{position:fixed!important}.tinyHeight .fixed_elem{position:static!important}.chrome .fixed_elem,.chrome .fixed_always{transform:translateZ(0)}.tinyHeight .chrome .fixed_elem{transform:none}

@supports selector(:-moz-focusring){._19_u :not(:-moz-focusring):focus{outline:none!important}}@supports selector(:focus-visible){._19_u :not(:focus-visible):focus{outline:none!important}}

.fullScreen{height:100%;width:100%}

._1m42{display:block}._1w_m ._1m42 img,._53s ._1m42 i{-webkit-filter:brightness(50%) blur(5px);filter:brightness(50%) blur(5px);transition:filter .5s ease-out}._5v3q ._1m42:before,._1m42:before{animation:rotateSpinner 1.2s linear infinite;background-image:url(/rsrc.php/v4/yH/r/xgVgalBG80z.png);border:0;content:"";display:inline-block;height:24px;left:50%;margin:-12px;position:absolute;top:50%;width:24px;z-index:10}
